<div class="comments">
    <h2>Comments</h2>
    <div class="giscus"></div>
</div>



<script src="https://giscus.app/client.js"
        data-repo="joycegu/CuriousBuild"
        data-repo-id="R_kgDONr-nag"
        data-category="Comment"
        data-category-id="DIC_kwDONr-nas4CmKdf"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<!-- <script src="https://giscus.app/client.js"
        data-repo="joycegu/CuriousBuild"
        data-repo-id="[The repository ID you got from giscus.app]"
        data-category="Comments"
        data-category-id="[The category ID you got from giscus.app]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>  -->